<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="BdCalificacionesEntities" connectionString="metadata=res://*/Data.dbEscuela.csdl|res://*/Data.dbEscuela.ssdl|res://*/Data.dbEscuela.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-44A3VR1\SQLEXPRESS;initial catalog=BdCalificaciones;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>